@font-face {
    font-family: 'cygre';
    src: url(../fonts/Cygre-Thin.ttf);
}
@font-face {
    font-family: 'safira';
    src: url(../fonts/SafiraMarchPersonalUse.otf);
}
@font-face {
    font-family: 'number';
    src: url(../fonts/Manrope-Light.ttf);
}